.App {
  max-width: 800px;
  margin: 60px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

html {
  background: linear-gradient(rgb(186, 86, 142) 0%, rgb(116, 98, 160) 100%);
}

body {
  background-image: url(./images/sunrise.jpg);
  padding: 40px;
  margin: 60px 70px;
  border-radius: 24px;
  background-size: cover;
  box-shadow: 0px 30px 50px;
}
