.WeatherForecast {
  text-align: center;
  margin: 50px 0;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

.WeatherForecast .Forecast-temperatures {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f46d6f;
}

.WeatherForecast .WeatherForecast-temp-min {
  opacity: 0.7;
  margin-left: 5px;
}
